name: Release

on:
  release:
    types: [published]

jobs:
  lint:
    name: Lint add-on configuration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Run Home Assistant Add-on Lint
        uses: frenck/action-addon-linter@v2
        with:
          path: "."

  build:
    name: Build and publish add-on
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [aarch64, amd64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get information
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: "."

      - name: Build and push ${{ matrix.arch }} add-on
        uses: home-assistant/builder@master
        with:
          args: |
            --${{ matrix.arch }} \
            --target /data \
            --docker-hub ghcr.io/${{ github.repository_owner }} \
            --image waterfurnace-aurora-{arch} \
            --no-latest
